/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f6f8;
  color: #1a1a1a;
}

/* ================= NAVBAR ================= */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  z-index: 1000;
}

header h1 {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

nav {
  display: flex;
  gap: 10px;
}

nav a {
  color: #d0d0d0;
  text-decoration: none;
  font-size: 15px;
  padding: 14px 20px;
  border-radius: 6px;
  transition: 0.2s;
  border: 1px solid transparent;
}

nav a:hover {
  background: #2b2b2b;
  color: #fff;
}

/* ACTIVE TAB */
nav a.active {
  background: #ffffff;
  color: #000;
  border: 1px solid #ffffff;
  font-weight: 500;
}

/* HAMBURGER */
.hamburger {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

/* ================= PAGE WRAP ================= */
.page {
  padding-top: 75px;
}

/* ================= HERO ================= */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: url("IMG_4898.JPG") center center no-repeat;
  background-size: 70%;
  background-color: #000;
  position: relative;
}

/* OVERLAY */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
}

.hero > div {
  position: relative;
  color: white;
  max-width: 800px;
  padding: 20px;
}

.hero h2 {
  font-size: 44px;
  font-weight: 500;
  margin-bottom: 10px;
}

.hero p {
  color: #e5e5e5;
  margin-bottom: 20px;
}

/* BUTTON */
.btn {
  display: inline-block;
  padding: 12px 22px;
  font-size: 14px;
  border-radius: 6px;
  text-decoration: none;
}

.btn.primary {
  background: #fff;
  color: #000;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 30px;
  font-size: 13px;
  color: #fff;
  background: #000;
}

/* FLOAT BUTTON */
.floating-call {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #1f1f1f;
  color: white;
  padding: 14px;
  border-radius: 50%;
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.95);
    text-align: center;

    opacity: 0;
    transform: translateY(-10px);
    transition: 0.2s ease;
  }

  nav.show {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }

  nav a {
    padding: 18px;
    font-size: 16px;
    width: 100%;
  }

  .hero h2 {
    font-size: 28px;
  }
}
